<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Welcolme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
     
      <ion-col align-self-center>
      
        
          <div id="titulo-boxeo">
            <h3 class="animate__animated infinite animate__zoomInUp">Bienvenido</h3>
          </div>
          <div id="texto-boxeo">
        <p>En esta aplicacion podras obtener la informacion de cada uno de los combates de tus peleadores favoritos
          asi como tambien, sus resultados, su peso, su liga y su racha de victorias.
          Tambien, es para los managers de los peleadores para permitirles ingresar toda la informacion de su cliente
          y poder concretar otro combate contra algun boxeador dentro de nuestra aplicacion</p>
        </div>
           <img src="assets/boxeo.jpg" width="900" height="120">

        <ion-button routerLink="/segunda" expand="block" color="danger">Welcolme</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> 

