#titulo-boxeo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #df2808;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase
}

#texto-boxeo {
    display: flex;
    justify-content: center;
    color: #000000;
    font-weight: normal;
    font-size: 15px;
    font-family: Arial;
}



