<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <form #formulario="ngForm">

    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text"  name="nombre"   [(ngModel)]="objCliente.nombre"  required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text"  name="apellido"   [(ngModel)]="objCliente.apellido"  required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Weight(kg)</ion-label>
      <ion-input type="text"  name="peso"   [(ngModel)]="objCliente.peso"  required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"  name="email"   [(ngModel)]="objCliente.email"  required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"  name="contrasena"   [(ngModel)]="objCliente.contrasena"  required></ion-input>
    </ion-item>


    <ion-row>
      <ion-col>
        <ion-button routerLink="/entrada" (click)="guardar()" type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
